canvas {
    border: 1px solid black;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.invisible {
    display: none;
}

.rotate {
    transform: rotateY(180deg)
}

.text {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin: 0 100px;
}

.flex button {
    font-size: 64px;
    width: 400px;
    height: 100px;
    background-color: blue;
    /* margin-bottom: 10px; */
    color: #fff;
}

#timer {
    width: 60px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav * {
    width: 160px;
    height: 40px;
    background-color: blue;
    margin-bottom: 10px;
    font-size: 24px;

    color: #fff;
}
#stats {
    margin: auto;
    width: 50%;
}